<template>
  <KPOrdersList></KPOrdersList>
  <div class="content">
    <h2>New order</h2>
    <label for="title">Title </label>
    <input type="text" v-model="orderTitle" id="title"/>
    <br>
    <input class="button" type="button" value="cancel" @click="cancel()"/>
    <input type="submit" @click="placeOrder()" value="Place order"/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import KPOrdersList from './OrderList.vue';
import {AxiosResponse} from 'axios';
import {Order} from '../models/order.model';
import {useOrderProvider} from '../modules/providers/order.provider';

@Options({
  components: {
    KPOrdersList,
  },
  data() {
    return {
      orderTitle: '',
    }
  },
  methods: {

    placeOrder(): void{
      // retrieve userId
      const { createOrder } = useOrderProvider();
      createOrder(this.orderTitle)
          .then(resp => this.onOrderCreated(resp))
        .catch(err => {
        // TODO enhance error management, make it generic for api calls
        this.errorMsg = err?.message;
      });
    },

    onOrderCreated(resp: AxiosResponse<Order>) {
      const { refreshOrders } = useOrderProvider();
      refreshOrders();
      this.$router.push({name: 'comments', params: {orderId: resp.data._id}});
    },

    cancel() {
      console.log('here');
      this.$router.back();
    },
  }
})
export default class CreateOrder extends Vue {
  msg!: string
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.content {
  padding-left: 300px;
}

map area {
  cursor: pointer;
}
</style>
