<template>
  <header>
    <div class="nav">
      <router-link to="/hello">
        <a><img alt="Vue logo" src="../assets/logo.png" height="50"></a>
      </router-link>
      <p>The K-Project</p>

        <ul v-if="user">
          <li>
            <router-link to="/hello">
              <a>Orders</a>
            </router-link>
          </li>
          <li v-if="isAdmin()">
            <router-link to="/users">
              <a>Users</a>
            </router-link>
          </li>
        </ul>

    </div>

    <div class="authInfo">
      <p>{{ greeting }}</p>
      <ul>
        <li>
          <a v-if="user" @click="logout()" class="authAction" href="#">logout</a>
        </li>
        <li v-if="!user">
          <router-link to="/"><a class="authAction">login</a></router-link>
        </li>
        <li v-if="!user">
          <router-link to="/register"><a class="authAction">register</a></router-link>
        </li>

      </ul>
    </div>

  </header>
</template>

<script>
import { useAuthProvider } from "../modules/providers/auth.provider";
import {computed, defineComponent} from "vue";
const { user } = useAuthProvider();

export default defineComponent({
  name: 'KPHeader',
  props: {
    msg: String
  },
  setup() {
    const greeting = computed(() => {
      console.log('comp');
      return user?.value && user.value.name
          ? (user.value.isAdmin ? '🦄': '') + user.value.name
          : ''
    })

    return { user, greeting }
  },
  methods: {
    logout() {
      useAuthProvider().logout().then(() => this.$router.replace('/'));
    },
    isAdmin() {
      return user?.value && user.value.isAdmin;
    }
  }
});
</script>
<style lang="scss">
header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: .5rem 1rem;
  width: 100vw;

  p {
    margin-left: 1rem;
  }

  .nav {
    display: flex;
    flex: 1 1 auto;
  }

  .authInfo {
    display: flex;
    flex: 0 0 auto;
    position: absolute;
    right: 12px;
  }

  ul {
    padding: 0;


    li {
      display:inline-block;
      margin-left: 25px;
      list-style-type: none;
    }
  }
}
</style>
