<template>
  <KPOrdersList></KPOrdersList>
  <div class="content">
    <p>
      Welcome, please select or create an order from the left side to see comments
    </p>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import KPOrdersList from './OrderList.vue';

@Options({
  components: {
    KPOrdersList,
  }
})
export default class Home extends Vue {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.content {
  padding-left: 300px;
}
</style>
