<template>
  <div class="hello">
    <h1>Welcome</h1>
    <p class="errorMessage" v-if="errorMsg">{{ errorMsg }}</p>
    <form @submit.prevent="onSubmit">
      <input v-model="username" placeholder="username" />
      <br/>
      <input type="checkbox" v-model="remember" id="remember"/>
      <label for="remember">Remember me</label>
      <br/>
      <input class="button" type="submit" value="login"/>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import {useAuthProvider} from '../modules/providers/auth.provider';
import {AxiosError, AxiosResponse} from 'axios';
import {User} from '../models/user.model';

export default defineComponent({
  name: 'Login',
  data() {
    return {
      username: '',
      remember: false,
      errorMsg: '',
    }
  },
  methods: {

    onSubmit() {
      const { login } = useAuthProvider();
      login(this.username)
          .then(res => this.onLoginSuccess(res))
        .catch(err => this.onLoginError(err));
    },

    onLoginSuccess(response: AxiosResponse<User>){
      const { setUser } = useAuthProvider()

      setUser(response.data, this.remember);
      this.goToApp();
    },

    onLoginError(err: AxiosError) {
      console.log('error on login', err);
      if (err?.response?.status === 404) {
          this.registerUser();
      } else {
        this.errorMsg = err?.message;
      }
    },

    registerUser(){
      this.$router.push({path: '/register', query: {desiredUserName: this.username}});
    },

    goToApp(){
      this.$router.push('/hello');
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  color: #42b983;
}
</style>
