<template>
  <div class="sidebar-panel">
    <p>The KP-Order List</p>
    <ul>
      <li v-for="order in orders" v-bind:key="order">
        <router-link :to="{name: 'comments', params: { orderId: order._id }}" >
          <a>{{ order.title }}</a>
        </router-link>
      </li>
    </ul>
    <br/>
    <router-link to="/orders/create" v-if="isAdmin()">
      <a>Create new order ...</a>
    </router-link>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {useOrderProvider} from '../modules/providers/order.provider';
import {useAuthProvider} from '../modules/providers/auth.provider';

export default defineComponent({
  name: 'KPOrdersList',
  props: {
    msg: String
  },
  setup() {
    const { refreshOrders, orders } = useOrderProvider();
    refreshOrders();
    return { orders };
  },
  data() {
    return {
      customOrderId: '',
    }
  },
  methods: {
    createOrder() {
      console.log("Open popup");
      this.$router.push('/orders/create')
    },
    isAdmin() {
      const { user } = useAuthProvider();
      return user?.value && user.value.isAdmin;
    }
  }
});
</script>
<style lang="scss">
.sidebar-panel {
  height: 100vh;
  width: 300px;
  background-color: #f0f1f1;
  display: block;
  position: fixed;

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
}
</style>
