<template>
  <div class="hello">
    <KPOrdersList></KPOrdersList>
    <div class="content">
      <h2>order details</h2>
      <p>Please select a zone by clicking on the following map : </p>
      <img src="../assets/france-map.svg" usemap="#map"/>
      <map name="map"><!-- sorry for that -->
        <area shape="rect" coords="0,0,94,94"
              @click="setZone(1)" alt="1" />
        <area shape="rect" coords="94,0,196,94"
              @click="setZone(2)"  alt="2" />
        <area shape="rect" coords="196,0,282,94"
              @click="setZone(3)"  alt="3" />

        <area shape="rect" coords="0,94,94,196"
              @click="setZone(4)"  alt="1" />
        <area shape="rect" coords="94,94,196,196"
              @click="setZone(5)"  alt="2" />
        <area shape="rect" coords="196,94,282,196"
              @click="setZone(6)"  alt="3" />

        <area shape="rect" coords="0,196,94,282"
              @click="setZone(7)"  alt="1" />
        <area shape="rect" coords="94,196,196,282"
              @click="setZone(8)"  alt="2" />
        <area shape="rect" coords="196,196,282,282"
              @click="setZone(9)"  alt="3" />
      </map>
      <div>chosen zone id : {{ zoneId }}<span v-if="zoneId">&nbsp;<a @click="setZone(0)">❌</a></span></div>
      <select v-if="isAdmin()" v-model="selectedChannel" @change="onSelectectedChannelChange()">
        <option value="">Select a channel</option>
        <option v-for="orderChannel of channels" v-bind:key="orderChannel" :value="orderChannel._id">{{ orderChannel.name }}</option>
      </select>
      <input type="button" v-if="selectedChannel" @click="deleteSelectedChannel()" value="🗑 delete channel">
      <h3>comments</h3>
      <!-- TODO list comments -->
      <OrderCommentList :geoReferenceId="zoneId || 0" :orderId="orderId" :channelId="selectedChannel"></OrderCommentList>
      <form @submit.prevent="sendComment" class="chatInput">
        <input type="text" v-model="newCommentContent" ref="commentInput" placeholder="Add a comment ..." />
        <input type="button" @click="sendComment" value="send" />
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import KPOrdersList from './OrderList.vue';
import OrderCommentList from './OrderCommentList.vue'
import {AxiosResponse} from 'axios';
import {OrderComment} from '../models/orderComment.model';
import {useAuthProvider} from '../modules/providers/auth.provider';
import {useOrderCommentProvider} from '../modules/providers/orderComment.provider';
import {useChannelProvider} from '../modules/providers/channel.provider';

const { user } = useAuthProvider();
const { getChannels, deleteChannel, channels } = useChannelProvider();

@Options({
  props: {
    msg: String
  },
  watch: {
    $route(to) {
      // react to route changes...
      this.orderId = to.params.orderId;
      if (this.orgerId) {
        getChannels(this.orderId as string);
      }
    }
  },
  data() {
    const orderId = this.$route.params.orderId;
    if (user?.value && user.value.isAdmin) {
      getChannels(orderId as string);
    }
    return {
      orderId,
      zoneId: 0,
      newCommentContent: '',
      channelId: '',
      channels,
      selectedChannel: ''
    }
  },
  components: {
    KPOrdersList,
    OrderCommentList,
  },
  methods: {
    setZone(zId: number) {
      this.zoneId = zId;
      this.updateChannels();
    },

    sendComment(){
      const { createOrderCommentInChannel, createOrderCommentForOrder } = useOrderCommentProvider();
      let prom;
      if (this.selectedChannel) {
        prom = createOrderCommentInChannel(this.selectedChannel, this.newCommentContent, this.zoneId);
      } else {
        prom = createOrderCommentForOrder(this.orderId, this.newCommentContent, this.zoneId);
      }

      prom.then((resp: AxiosResponse<OrderComment>) => this.onCommentCreated(resp.data));
    },

    onCommentCreated() {
      const { refreshOrderComments } = useOrderCommentProvider();
      this.newCommentContent = '';
      this.$refs.commentInput.focus();
      refreshOrderComments(this.orderId, this.zoneId, this.selectedChannel);
    },

    isAdmin() {
      // FIXME move to auth provider
      return user?.value && user.value.isAdmin;
    },

    updateChannels(){
      if (user?.value && user.value.isAdmin) {
        getChannels(this.orderId, this.zoneId);
      }
    },

    onSelectectedChannelChange() {
      console.log('it changes', this.selectedChannel);
    },

    deleteSelectedChannel() {
      deleteChannel(this.selectedChannel)
        .then(() => {
          this.selectedChannel = null;
          this.updateChannels()
        });
    }
  }
})
export default class OrderComments extends Vue {
  msg!: string
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.content {
  padding-left: 300px;
}
a {
  cursor: pointer;
}
.chatInput {
  width: 100%;
  display: flex;

  input[type=text] {
    flex: 1;
  }
}
</style>
