<template>
  <h3>Comments for {{orderId }} / {{ geoReferenceId }}</h3>
  <ul>
    <li v-for="comment of comments" v-bind:key="comment" :class="{ fromMe: isFromMe(comment)}">
      {{comment.content}}
    </li>

  </ul>
</template>

<script lang="ts">
import {useOrderCommentProvider} from '../modules/providers/orderComment.provider';
import {defineComponent, watch} from 'vue';
import {OrderComment} from '../models/orderComment.model';
import {useAuthProvider} from '../modules/providers/auth.provider';
import {socket} from '../main';

const { refreshOrderComments, comments } = useOrderCommentProvider();

export default defineComponent({
  name: 'OrderCommentList',
  props: {
    orderId: String,
    geoReferenceId: Number,
    channelId: String,
  },
  setup(props) {
    if(props.orderId && Number.isInteger(props.geoReferenceId)) {
      refreshOrderComments(props.orderId, props.geoReferenceId);

      watch(() => props.orderId, (next) => {
        if (next && props.orderId && Number.isInteger(props.geoReferenceId)) {
          refreshOrderComments(next, props.geoReferenceId);
        }
      });

      watch(() => props.geoReferenceId, (next) => {
        if (next !== undefined && props.orderId) {
          refreshOrderComments(props.orderId,  next);
        }
      });

      watch(() => props.channelId, (next, old) => {
        if (next !== undefined && props.orderId) {
          socket.emit('subscribeChannel', props.channelId)
          refreshOrderComments(props.orderId, props.geoReferenceId, next);
        }
        socket.emit('unsubscribeChannel', old);


      });
    }
    return { comments };
  },

  created(){
    socket.on("newOrderComment", () => {
      if (this.orderId) {
        refreshOrderComments(this.orderId, this.geoReferenceId, this.channelId);
      }
    });
  },

  data() {
    return {
      newCommentContent: '',
    }
  },

  methods: {
    isFromMe(comment: OrderComment) {
      const { user } = useAuthProvider();
      return user?.value && user.value._id === comment.from;
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  &.fromMe {
    text-align: left;
  }
}
a {
  color: #42b983;
  cursor: pointer;
}

.content {
  padding-left: 300px;
}
</style>
