<template>
  <div class="hello">
    <h1>Register</h1>
    <p>User doesn't exist, you can create it here</p>
    <p class="errorMessage" v-if="errorMsg">{{ errorMsg }}</p>
    <form @submit.prevent="registerUser">
      <input v-model="username" placeholder="username"/>
      <br/>
      <input type="checkbox" v-model="remember" id="remember"/>
      <label for="remember">Remember me</label>
      <br/>
      <input type="checkbox" v-model="isAdmin" placeholder="name" id="admin"/>
      <label for="admin">admin</label>
      <br/>
      <input class="button" type="button" value="cancel" @click="cancel()"/>
      <input class="button" type="submit" value="register"/>
    </form>
  </div>
</template>

<script lang="ts">
import {AxiosResponse} from 'axios';
import {defineComponent} from 'vue';
import {useAuthProvider} from '../modules/providers/auth.provider';
import {User} from '../models/user.model';

export default defineComponent({
  name: 'Register',
  props: {
    desiredUserName: String,
  },
  data() {
    return {
      username: this.desiredUserName || '',
      isAdmin: false,
      remember: false,
      errorMsg: '',
    }
  },
  methods: {
    registerUser(){
      const { register } = useAuthProvider();
      register(this.username, this.isAdmin)
          .then(resp => this.onRegistrationOk(resp))
          .catch(err => {
            // TODO enhance error management
            this.errorMsg = err?.message;
          });
    },

    onRegistrationOk(response: AxiosResponse<User>){
      const { setUser } = useAuthProvider()

      setUser(response.data, this.remember);
      this.goToApp();
    },

    goToApp(){
      this.$router.push('/hello');
    },

    cancel() {
      console.log('here');
      this.$router.back();
    },
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.errorMessage {
  color: red;
}
</style>
