<template>
  <div class="sidebar-panel">
    <p>KP Users List</p>
    <input type="text" v-model="userSearch" placeholder="filter user by name ..." @change="refreshUserList()"/>
    <ul>
      <li v-for="user in users" v-bind:key="user">
        <router-link :to="{name: 'userDetails', params: { userId: user._id }}" >
          <a>{{ user.name }}</a>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {useUsersProvider} from '../modules/providers/users.provider';
import {useAuthProvider} from '../modules/providers/auth.provider';
const { refreshUsers, users } = useUsersProvider();
const { user } = useAuthProvider();

export default defineComponent({
  name: 'KPUsersList',
  props: {
    msg: String
  },
  setup() {
    if(user?.value && user.value._id) {
      refreshUsers();
    }
    return { users };
  },
  data() {
    return {
      customOrderId: '',
      userSearch: '',
    }
  },
  methods: {
    refreshUserList() {
      refreshUsers(this.userSearch)
    }

  }
});
</script>
<style lang="scss">
.sidebar-panel {
  height: 100vh;
  width: 300px;
  background-color: #f0f1f1;
  display: block;
  position: fixed;

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
}
</style>
