<template>
  <div class="hello">
    <KPUsersList></KPUsersList>
    <div class="content">
      <h2>User {{ user?.name }} details</h2>
      <form v-if="user" @submit.prevent="updateUser">
        <label for="name">username</label>
        <input type="text" id="name" v-model="user.name">
        <br/>
        <label for="admin">is admin</label>
        <input type="checkbox" id="admin" v-model="user.isAdmin">
        <br/>
        <div class="actionButtons">
          <input type="button" value="🗑 delete user" @click="deleteUser()">
          <input type="submit" value="save">
        </div>
      </form>
      <h3>channels</h3>
      <!-- TODO list comments -->
    </div>
  </div>
</template>

<script lang="ts">
import KPUsersList from './UserList.vue';
import {defineComponent} from 'vue';
import {useUserProvider} from '../modules/providers/user.provider';
import {useUsersProvider} from '../modules/providers/users.provider';

const { getUserDetails, updateUser, deleteUser, user } = useUserProvider();
const { refreshUsers } = useUsersProvider();

export default defineComponent({
  name: 'UserDetails',
  components: {
    KPUsersList,
  },
  props: {
    msg: String,
  },
  data() {
    const userId = this.$route.params.userId;
    if (userId){
      getUserDetails(userId as string);
    }
    return { userId, user };
  },
  watch: {
    $route(to) {
      // react to route changes...
      this.userId = to.params.userId as string;
      getUserDetails(this.userId);
    }
  },
  methods: {
    deleteUser() {
      if (this.user) {
        deleteUser(this.user._id)
            .then(() => this.$router.push('/users'));
      }
    },

    updateUser() {
      if (this.user) {
        updateUser(this.user)
            .then(() => refreshUsers());
      }
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.content {
  padding-left: 300px;
}
a {
  cursor: pointer;
}
.actionButtons {
  display: inline-block;
}
</style>
