<template>
  <KPHeader />
  <router-view />
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import KPHeader from './components/Header.vue';

@Options({
  components: {
    KPHeader,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
